<% layout("/layouts/adminLayout") %>
<h2 style="text-align: center;">Employees Needing Corrections</h2>

<% if (corrections.length === 0) { %>
    <p>No employees needing corrections at the moment.</p>
<% } else { %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee ID</th>
                <th>Correction Required</th>
                <th>Date</th>
                <th>Action</th>
                <th>Once u r done, notify them!</th>
            </tr>
        </thead>
        <tbody>
            <% corrections.forEach(correction => { %>
                <tr>
                    <td><%= correction.id %></td>
                    <td><%= correction.employee_id %></td>
                    <td><%= correction.correction_required %></td>
                    <td><%= correction.date.toLocaleString() %></td>
                    <td>
                        <a href="/admin/edit" style="background-color: #a5c5ea;" class="btn">Go & edit</a>
                    </td>
                    <td>
                        <form method="put" action="/admin/correction/<%= correction.id %>?_method=DELETE">
                            <button style="background-color: #2662a5;color: white;" class="btn btn-primary">Mark as edited</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
