<% layout("/layouts/adminLayout") %>

<% const fields = [
        {label: 'Id', name: 'id', type: 'number'},
        {label: 'Employee id', name: 'employee_id', type: 'text'},
        {label: 'First Name', name: 'first_name', type: 'text'},
        {label: 'Middle name', name: 'middle_name', type: 'text'},
        {label: 'Last Name', name: 'last_name', type: 'text'},
        {label: 'Nationality', name: 'nationality', type: 'text'},
        {label: 'Birthday', name: 'birthday', type: 'date'},
        {label: 'Gender', name: 'Gender', type: 'select', options: ['Male', 'Female']},
        {label: 'Marital status', name: 'marital_status', type: 'select', options: ['Married', 'Single', 'Divorced', 'Widowed', 'Other']},
        {label: 'SSS Number', name: 'ssn_num', type: 'text'},
        {label: 'NIC Number', name: 'nic_num', type: 'text'},
        {label: 'Other ID', name: 'other_ID', type: 'text'},
        {label: 'Driving License', name: 'driving_license', type: 'text'},
        {label: 'Driving License Expiry date', name: 'driving_license_exp_date', type: 'date'},
        {label: 'Employment status', name: 'employment_status', type: 'number'},
        {label: 'Job Title', name: 'job_title', type: 'number'},
        {label: 'Pay Grade', name: 'pay_grade', type: 'number'},
        {label: 'Work Station Id', name: 'work_station_id', type: 'text'},
        {label: 'Address 1', name: 'address1', type: 'text'},
        {label: 'Address 2', name: 'address2', type: 'text'},
        {label: 'City', name: 'city', type: 'text'},
        {label: 'Country', name: 'country', type: 'text'},
        {label: 'Province', name: 'province', type: 'number'},
        {label: 'Postal Code', name: 'postal_code', type: 'number'},
        {label: 'Home Phone Number', name: 'home_phone', type: 'number'},
        {label: 'Mobile Phone Number', name: 'mobile_phone', type: 'number'},
        {label: 'Work Phone', name: 'work_phone', type: 'number'},
        {label: 'Work Email', name: 'work_email', type: 'email'},
        {label: 'Private Email', name: 'private_email', type: 'email'},
        {label: 'Joined Date', name: 'joined_date', type: 'date'},
        {label: 'Confirmation Date', name: 'confirmation_date', type: 'date'},
        {label: 'Supervisor', name: 'supervisor', type: 'number'},
        {label: 'Indirect Supervisors', name: 'indirect_supervisors', type: 'text'},
        {label: 'Department', name: 'department', type: 'number'},
        {label: 'Custom 1', name: 'custom1', type: 'text'},
        {label: 'Custom 2', name: 'custom2', type: 'text'},
        {label: 'Custom 3', name: 'custom3', type: 'text'},
        {label: 'Custom 4', name: 'custom4', type: 'text'},
        {label: 'Custom 5', name: 'custom5', type: 'text'},
        {label: 'Custom 6', name: 'custom6', type: 'text'},
        {label: 'Custom 7', name: 'custom7', type: 'text'},
        {label: 'Custom 8', name: 'custom8', type: 'text'},
        {label: 'Custom 9', name: 'custom9', type: 'text'},
        {label: 'Custom 10', name: 'custom10', type: 'text'},
        {label: 'Termination Date', name: 'termination_date', type: 'date'},
        {label: 'Notes', name: 'notes', type: 'text'},
        {label: 'Status', name: 'status', type: 'select', options: ['Active', 'Terminated']},
        {label: 'Ethnicity', name: 'ethnicity', type: 'number'},
        {label: 'Immigration Status', name: 'immigration_status', type: 'number'},
        {label: 'Approver 1', name: 'approver1', type: 'number'},
        {label: 'Approver 2', name: 'approver2', type: 'number'},
        {label: 'Approver 3', name: 'approver3', type: 'number'},
        {label: 'Cadre', name: 'cadre', type: 'text'},
        {label: 'Date of Joining', name: 'joined_date', type: 'date'},
        {label: 'DOPR', name: 'dopr', type: 'date'},
        {label: 'Posting Place', name: 'posting_place', type: 'text'},
        {label: 'Image Path', name: 'image_path', type: 'text'},
        {label: 'Remarks', name: 'remarks', type: 'text'},
        {label: 'Last Updated', name: 'lastUpdated', type: 'date'},
        {label: 'Additional Charge 1', name: 'additional_charge1', type: 'number'},
        {label: 'Additional Charge 2', name: 'additional_charge2', type: 'number'},
        {label: 'Additional Charge 3', name: 'additional_charge3', type: 'number'},
        {label: 'Additional Member', name: 'AdditionalMember', type: 'text'}
    ]; %>

<h2 style="text-align: center;">Edit an Employee's details</h2> <br>
<form class="row g-3 needs-validation" method="post" action="/admin/edit?_method=PUT" novalidate>
    <% fields.forEach((field, index) => { 
        let value = employee[field.name];
        if (field.type === 'date' && value) {
            value = new Date(value).toISOString().split('T')[0];
        }
    %>
        <div class="col-md-4">
            <label for="field<%= index %>" class="form-label"><%= field.label %></label>
            <%if (field.name=='id' || field.name=='employee_id') {%>
                <input style="background-color: rgb(236, 228, 228);" value="<%= value %>" name="emp[<%= field.name %>]" type="<%= field.type %>" class="form-control" id="field<%= index %>" readonly>
            <%}else if (field.type === 'select') { %>
                <select value="<%= value %>" name="emp[<%= field.name %>]" class="form-select" id="field<%= index %>">
                    <% field.options.forEach(option => { %>
                        <option value="<%= option %>" <%= value === option ? 'selected' : '' %>><%= option %></option>
                    <% }) %>
                </select>
            <% } else { %>
                <input value="<%= value %>" name="emp[<%= field.name %>]" type="<%= field.type %>" class="form-control" id="field<%= index %>">
            <% } %>
            <div class="invalid-feedback">
                Please fill this field!
            </div>
        </div>
    <% }) %>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Edit details</button>
    </div>
</form>
<script src="/js/form_validation.js"></script>
