<% layout("/layouts/adminLayout") %>
<h2 style="text-align: center;">Add an Employee</h2> <br>
<form class="row g-3 needs-validation" method="post" action="/admin/add" novalidate>
    <% const fields = [
        {label: 'Id', name: 'id', type: 'number'},
        {label: 'Employee id', name: 'employee_id', type: 'text'},
        {label: 'First Name', name: 'first_name', type: 'text'},
        {label: 'Middle name', name: 'middle_name', type: 'text'},
        {label: 'Last Name', name: 'last_name', type: 'text'},
        {label: 'Nationality', name: 'nationality', type: 'number'},
        {label: 'Birthday', name: 'birthday', type: 'date'},
        {label: 'Gender', name: 'Gender', type: 'select', options: ['Male', 'Female']},
        {label: 'Marital status', name: 'marital_status', type: 'select', options: ['Married', 'Single', 'Divorced', 'Widowed', 'Other']},
        {label: 'SSS Number', name: 'ssn_num', type: 'text'},
        {label: 'NIC Number', name: 'nic_num', type: 'text'},
        {label: 'Other ID', name: 'other_ID', type: 'text'},
        {label: 'Driving License', name: 'driving_license', type: 'text'},
        {label: 'Driving License Expiry date', name: 'driving_license_exp_date', type: 'date'},
        {label: 'Employment status', name: 'employment_status', type: 'number'},
        {label: 'Job Title', name: 'job_title', type: 'number'},
        {label: 'Pay Grade', name: 'pay_grade', type: 'number'},
        {label: 'Work Station Id', name: 'work_station_id', type: 'text'},
        {label: 'Address 1', name: 'address1', type: 'text'},
        {label: 'Address 2', name: 'address2', type: 'text'},
        {label: 'City', name: 'city', type: 'text'},
        {label: 'Country', name: 'country', type: 'text'},
        {label: 'Province', name: 'province', type: 'number'},
        {label: 'Postal Code', name: 'postal_code', type: 'number'},
        {label: 'Home Phone Number', name: 'home_phone', type: 'number'},
        {label: 'Mobile Phone Number', name: 'mobile_phone', type: 'number'},
        {label: 'Work Phone', name: 'work_phone', type: 'number'},
        {label: 'Work Email', name: 'work_email', type: 'email'},
        {label: 'Private Email', name: 'private_email', type: 'email'},
        {label: 'Joined Date', name: 'joined_date', type: 'date'},
        {label: 'Confirmation Date', name: 'confirmation_date', type: 'date'},
        {label: 'Supervisor', name: 'supervisor', type: 'number'},
        {label: 'Indirect Supervisors', name: 'indirect_supervisors', type: 'text'},
        {label: 'Department', name: 'department', type: 'number'},
        {label: 'Custom 1', name: 'custom1', type: 'text'},
        {label: 'Custom 2', name: 'custom2', type: 'text'},
        {label: 'Custom 3', name: 'custom3', type: 'text'},
        {label: 'Custom 4', name: 'custom4', type: 'text'},
        {label: 'Custom 5', name: 'custom5', type: 'text'},
        {label: 'Custom 6', name: 'custom6', type: 'text'},
        {label: 'Custom 7', name: 'custom7', type: 'text'},
        {label: 'Custom 8', name: 'custom8', type: 'text'},
        {label: 'Custom 9', name: 'custom9', type: 'text'},
        {label: 'Custom 10', name: 'custom10', type: 'text'},
        {label: 'Termination Date', name: 'termination_date', type: 'date'},
        {label: 'Notes', name: 'notes', type: 'text'},
        {label: 'Status', name: 'status', type: 'select', options: ['Active', 'Terminated']},
        {label: 'Ethnicity', name: 'ethnicity', type: 'number'},
        {label: 'Immigration Status', name: 'immigration_status', type: 'number'},
        {label: 'Approver 1', name: 'approver1', type: 'number'},
        {label: 'Approver 2', name: 'approver2', type: 'number'},
        {label: 'Approver 3', name: 'approver3', type: 'number'},
        {label: 'Cadre', name: 'cadre', type: 'text'},
        {label: 'Date of Joining', name: 'doj_drdo', type: 'date'},
        {label: 'DOPR', name: 'dopr', type: 'date'},
        {label: 'Posting Place', name: 'posting_place', type: 'text'},
        {label: 'Image Path', name: 'image_path', type: 'text'},
        {label: 'Remarks', name: 'remarks', type: 'text'},
        {label: 'Last Updated', name: 'lastUpdated', type: 'date'},
        {label: 'Additional Charge 1', name: 'additional_charge1', type: 'number'},
        {label: 'Additional Charge 2', name: 'additional_charge2', type: 'number'},
        {label: 'Additional Charge 3', name: 'additional_charge3', type: 'number'},
        {label: 'Additional Member', name: 'AdditionalMember', type: 'text'}
    ]; %>

    <% fields.forEach((field, index) => { %>
        <div class="col-md-4">
            <label for="field<%= index %>" class="form-label"><%= field.label %></label>
            <% if (field.type === 'select') { %>
                <select name="emp[<%= field.name %>]" class="form-select" id="field<%= index %>" required>
                    <option selected disabled value="">Choose...</option>
                    <% field.options.forEach(option => { %>
                        <option><%= option %></option>
                    <% }) %>
                </select>
            <% } else { %>
                <% if(field.name == 'id' || field.name == 'employee_id' || field.name=='first_name' || field.type=='email' || field.name.includes("phone")) {%>
                    <input name="emp[<%= field.name %>]" type="<%= field.type %>" class="form-control" id="field<%= index %>" required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                <% } else {%>
                    <% if(field.type=='number'){ %>
                        <input name="emp[<%= field.name %>]" type="number" class="form-control" id="field<%= index %>" value="0">
                    <%}else if(field.type=='date'){ %>
                        <input name="emp[<%= field.name %>]" type="date" class="form-control" id="field<%= index %>" value="1990-01-01">
                    <% } else{ %>
                        <input name="emp[<%= field.name %>]" type="<%= field.type %>" class="form-control" id="field<%= index %>">
                    <% } %>
                <% } %>
            <% } %>
            <div class="invalid-feedback">This field is required</div>
        </div>
    <% }) %>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Proceed to Add</button>
    </div>
</form>
<script src="/js/form_validation.js"></script>
<!-- 

  id                       | bigint                                                | NO   |     | 0          |       |
  | employee_id              | varchar(50)                                           | YES  |     | NULL       |       |
  | first_name               | varchar(100)                                          | NO   |     |            |       |
  | middle_name              | varchar(100)                                          | YES  |     | NULL       |       |
  | last_name                | varchar(100)                                          | YES  |     | NULL       |       |
  | nationality              | bigint                                                | YES  |     | NULL       |       |
  | birthday                 | date                                                  | YES  |     | 0000-00-00 |       |
  | gender                   | enum('Male','Female')                                 | YES  |     | NULL       |       |
  | marital_status           | enum('Married','Single','Divorced','Widowed','Other') | YES  |     | NULL       |       |
  | ssn_num                  | varchar(100)                                          | YES  |     | NULL       |       |
  | nic_num                  | varchar(100)                                          | YES  |     | NULL       |       |
  | other_ID                 | varchar(100)                                          | YES  |     | NULL       |       |
  | driving_license          | varchar(100)                                          | YES  |     | NULL       |       |
  | driving_license_exp_date | date                                                  | YES  |     | 0000-00-00 |       |
  | employment_status        | bigint                                                | YES  |     | NULL       |       |
  | job_title                | bigint                                                | YES  |     | NULL       |       |
  | pay_grade                | bigint                                                | YES  |     | NULL       |       |
  | work_station_id          | varchar(100)                                          | YES  |     | NULL       |       |
  | address1                 | varchar(100)                                          | YES  |     | NULL       |       |
  | address2                 | varchar(100)                                          | YES  |     | NULL       |       |
  | city                     | varchar(150)                                          | YES  |     | NULL       |       |
  | country                  | char(2)                                               | YES  |     | NULL       |       |
  | province                 | bigint                                                | YES  |     | NULL       |       |
  | postal_code              | varchar(20)                                           | YES  |     | NULL       |       |
  | home_phone               | varchar(50)                                           | YES  |     | NULL       |       |
  | mobile_phone             | varchar(50)                                           | YES  |     | NULL       |       |
  | work_phone               | varchar(50)                                           | YES  |     | NULL       |       |
  | work_email               | varchar(100)                                          | YES  |     | NULL       |       |
  | private_email            | varchar(100)                                          | YES  |     | NULL       |       |
  | joined_date              | date                                                  | YES  |     | 0000-00-00 |       |
  | confirmation_date        | date                                                  | YES  |     | 0000-00-00 |       |
  | supervisor               | bigint                                                | YES  |     | NULL       |       |
  | indirect_supervisors     | varchar(250)                                          | YES  |     | NULL       |       |
  | department               | bigint                                                | YES  |     | NULL       |       |
  | custom1                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom2                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom3                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom4                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom5                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom6                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom7                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom8                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom9                  | varchar(250)                                          | YES  |     | NULL       |       |
  | custom10                 | varchar(250)                                          | YES  |     | NULL       |       |
  | termination_date         | date                                                  | YES  |     | 0000-00-00 |       |
  | notes                    | text                                                  | YES  |     | NULL       |       |
  | status                   | enum('Active','Terminated')                           | YES  |     | Active     |       |
  | ethnicity                | bigint                                                | YES  |     | NULL       |       |
  | immigration_status       | bigint                                                | YES  |     | NULL       |       |
  | approver1                | bigint                                                | YES  |     | NULL       |       |
  | approver2                | bigint                                                | YES  |     | NULL       |       |
  | approver3                | bigint                                                | YES  |     | NULL       |       |
  | cadre                    | varchar(50)                                           | YES  |     | NULL       |       |
  | doj_drdo                 | date                                                  | YES  |     | NULL       |       |
  | dopr                     | date                                                  | YES  |     | NULL       |       |
  | posting_place            | varchar(50)                                           | YES  |     | NULL       |       |
  | image_path               | varchar(100)                                          | YES  |     | NULL       |       |
  | remarks                  | varchar(200)                                          | YES  |     | NULL       |       |
  | lastUpdated              | date                                                  | YES  |     | NULL       |       |
  | additional_charge1       | bigint                                                | YES  |     | NULL       |       |
  | additional_charge2       | bigint                                                | YES  |     | NULL       |       |
  | additional_charge3       | bigint                                                | YES  |     | NULL       |       |
  | AdditionalMember         | varchar(500)                                          | YES  |     | NULL       |       | -->