<% layout("/layouts/adminLayout") %>
<h2 style="text-align: center;">Delete an Employee</h2> <br>
<form class="row g-3 needs-validation" novalidate method="post" action="/admin/delete?_method=DELETE">
  <% const fields = [
  {label: 'Enter Id of employee to be deleted*', name: 'id', type: 'number'},
  ]; %>
  <% fields.forEach((field, index) => { %>
    <div class="col-md-5 text-center">
      <label for="field<%= index %>" class="form-label"><%= field.label %></label>
          <input name="emp[<%= field.name %>]" type="<%= field.type %>" class="form-control" id="field<%= index %>" required>
      <div class="invalid-feedback">Required</div>
    </div>
  <% }) %>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Delete</button>
  </div>
</form>
<script src="../js/form_validation.js"></script>