<% layout("/layouts/boilerplate") %>
<div class="main-body">
    <div class="main-body-img"></div>
    <div class="main-body-routes">
        <p class="main-body-img-text">Solid State Physics Laboratory</p>
        <p class="main-body-img-text">New Delhi</p>
        <p style="font-size: 1.3rem; font-weight: 600;"></p>
        <img class="routes" style="border-radius: 14px;" src="/utils/sspl-delhi.jpg" alt="user" height="250" width="350">
        <a class="btn" href="/admin">Admin Login/SignUp</a>
    </div>
</div>

<br>

<div style="color: white;">
    <div style="text-align: center;" class="new-updates">
        <p style="color:#FF8300;font-size: 2rem;font-weight: 700;">New Updates for the month...<i style="margin-left:1rem" class="fa-solid fa-paperclip"></i></p>
        <div class="updates-card">
            <a>This month retirement</a>
            <a>Birthday Greetings</a>
            <a>New Joinings</a>
        </div>
    </div>
    <div class="emp-strength">
        <h2 style="text-align: center;padding:0.8rem;">Employee Statistics</h2>
        <div style="width: 50%; margin: auto;background-color: white;">
            <canvas id="genderChart"></canvas>
        </div>
    </div>
    <div class="emp-list">
        <h2 style="text-align: center;padding:0.8rem;">
            List of Employees &nbsp; <i class="fa-solid fa-user"></i>
        </h2>
        <table border="black">
            <tr>
                <th>Id</th>
                <th>Employee id</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Work Phone</th>
                <th>Mobile Phone</th>
                <th>Work email</th>
                <th>Department</th>
            </tr>
            <%for(let emp of data){%>
                <tr>
                    <td><%=emp.id%></td>
                    <td><%=emp.employee_id%></td>
                    <td><%=emp.first_name%> <%=emp.middle_name%> <%=emp.last_name%></td>
                    <td><%=emp.department%></td>
                    <td><%=emp.work_phone%></td>
                    <td><%=emp.mobile_phone%></td>
                    <td><%=emp.work_email%></td>
                    <td><%=emp.department%></td>
                </tr>
            <%}%>
        </table>
    </div>
    <div class="sspl-options">
        <ul>
            <li>DRDS</li>
            <li>DRTC</li>
            <li>Admin/Allied Officer</li>
            <li>Admin/Allied staff</li>
            <li>Others</li>
            <li>Ex-employees</li>
            <li>Organisational flow</li>
        </ul>
    </div>
</div>
